name: spellcheck

on:
  pull_request:

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Spell check Markdown
        uses: streetsidesoftware/cspell-action@v6
        with:
          files: "**/*.md"
          config: "cspell.json"
